* {
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}

p,
h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to right, rgb(255 255 255 / 10%) 1px, transparent 1px), linear-gradient(to bottom, rgb(250 250 250 / 10%) 1px, transparent 1px);
    background-size: var(--grid-size) var(--grid-size);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Grid mesh background */
.grid-mesh {
    /* width: 100%; */
    background-image: linear-gradient(to right, rgb(158 158 158 / 10%) 1px, transparent 1px), linear-gradient(to bottom, rgb(119 119 119 / 10%) 1px, transparent 1px);
    background-size: var(--grid-size) var(--grid-size);
}

/* Responsive grid size */
:root {
    --grid-size: 20px;
}

@media (max-width: 1200px) {
    :root {
        --grid-size: 20px;
    }
}

@media (max-width: 768px) {
    :root {
        --grid-size: 20px;
    }
}

@media (max-width: 480px) {
    :root {
        --grid-size: 20px;
    }
}

/* Content styling */
.content {
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    background-color: #000
}

.content h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content .title h2 {
    color: transparent;
}

.content .year {
    color: #FE3131;
}

.hero-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 4px;
}

.hero-images .img-left div,
.hero-images .img-right div {
    margin-bottom: 10px;
}

.hero-images .img-left p,
.hero-images .img-right p {
    font-size: 7px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.hero-images .img-left .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-images .img-left .feature img {
    width: 30px;
    height: 30px;
}

.hero-images .img-right .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-images .img-right .feature img {
    width: 30px;
    height: 30px;
}

.hero-images .img-right p {
    font-size: 7px;
    text-transform: uppercase;
    color: #000000;
}

.hero-images .img-left .circle,
.hero-images .img-right .circle {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: #ffffff;
}

.hero-images .img-center {
    height: 300px;
    overflow: hidden;
}

.hero-images .img-center .img-bk-circle {
    background-color: #14C154;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 56px;
    overflow: hidden;
}

span.one-to-one {
    font-weight: bold;
    font-size: 26px;
    color: #040404;
}

span.strat-text {
    color: rgb(46, 46, 218);
    font-weight: bold;
    font-size: 28px;
}

.img-center .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-images .img-center img {
    width: 100%;
    height: auto;
}

.hybrid-batch {
    text-align: center;
    justify-content: center;
}

.hybrid-batch h2 {
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.announcement {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #bcbaba;
    border-bottom: 1px solid #bcbaba;
    border-top: 1px solid #bcbaba;
}

.announcement .info-text {
    padding: 12px 0;
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    width: 50%;
    border-right: 1px solid #bcbaba;
}

.announcement .info-text p {
    padding-right: 8px
}

.announcement .date {
    padding-left: 8px;
    text-transform: uppercase;
    text-align: justify;
}

.announcement .date p {
    font-size: 14px;
    color: #d5d5d5
}

p.start-date {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.registration-details h2 {
    color: #00dc54;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 28px;
    letter-spacing: 2px;
    margin-top: 10px;
}

.batch-strength {
    color: #fff;
    padding-top: 12px;
}

.batch-strength p {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.special-offer {
    padding: 20px 0 40px 0;
}

.special-offer h3 {
    word-spacing: 8px;
    color: #c8ff00;
    font-weight: 900;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 1.2;
}

.gradient-secondary {
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(17, 136, 51, 1) 100%);
}

.cta-button {
    padding-bottom: 14px;
}

.cta-button button {
    background: rgb(255, 255, 255);
    background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(249, 204, 0, 1) 100%);
    color: var(--black);
    text-align: center;
    letter-spacing: .001em;
    text-transform: uppercase;
    border-radius: 100vw;
    padding: 20px 30px;
    font-size: 1.375em;
    font-weight: 900;
    line-height: 1.1;
    transition: transform .3s;
    border: none;
}

.cta-button a {
    color: #2f2d2d;
    text-decoration: none;
}

/*FAQ section*/

section .faq {
    width: 100%;
    background-color: #0A220E;
    color: #100f0f;
}

section .faq-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

section .faq-headline h1 {
    font-size: 32px;
    padding: 30px 40px 0;
    text-align: center;
}

@media (min-width: 1280px) {
    /* section .faq-headline h1 {
        padding: 50px 50px 0;
    } */
}

section .faq-component {
    padding: 30px 14px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

@media (min-width: 1280px) {

    section .faq-component,
    .wwyl .wwyl-wrapper {
        padding: 50px 90px;
    }
}

section .faq-heading {
    background-color: #FDEBAE;
    border-radius: 10px;
    margin: 0 0 15px;
}

section .faq-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    cursor: pointer;
}

section .faq-title h2 {
    font-size: 18px;
}

@media (min-width: 1280px) {
    section .faq-title h2 {
        font-size: 22px;
    }
}

section .faq-title span {
    display: flex;
    align-items: center;
    justify-content: center;
}

section .faq-content {
    display: none;
}

section .faq-content.active {
    display: block;
    background-color: #FFFDF6;
    padding: 10px 20px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*what will you learn*/
section .wwyl {
    width: 100%;
    background-color: #0B3213;
}

.wwyl .wwyl-component {
    margin-top: 40px;
}

section .wwyl-heading h2 {
    font-size: 32px;
    color: #fff;
    padding: 30px 40px 0;
    text-transform: uppercase;
    font-weight: 900;
}

.wwyl-component .component-section-one,
.wwyl-component .component-section-two,
.wwyl-component .component-section-three {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wwyl-component .component-section-one .section-content,
.wwyl-component .component-section-two .section-content,
.wwyl-component .component-section-three .section-content {
    background-color: #f8f5f5;
    padding: 30px 20px;
    margin: 10px 20px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.section-content .content-text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em;
    text-align: left;
}

.content-icon {
    margin-right: 10px;
}

.footer {
    background-color: #0A220E;
    padding: 10px 0;
}

.footer-links a {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    text-decoration: underline;
}